.template.color-yellow(data-template='home')
  
  //- MAIN
  main
    h1
      span #[mark mgod.cc]
      span welcome to my web
    .p
      span xxx
      span xxx
    .links
      a.link.color-green(href='https://github.com/mgodex' title='View my github' target='_blank') View my github
      a.link.color-red(href='https://mgod.cc/' title='View my blog' target='_blank') View my blog
  
  //- FOOTER
  footer: .links
    a.link.small.alt(href='http://facebook.com/' title='Facebook (@mGod)' target='_blank') Facebook
    a.link.small.alt(href='http://twitter.com/' title='Twitter (@mGod)' target='_blank') Twitter
    a.link.small.alt(href='http://codepen.io/' title='Codepen (@mGod)' target='_blank') Codepen
